#wrapper {
	width: 640px;
	margin: 0px auto;
}

#header {
	padding-bottom: 5px;
	border-bottom: 1px solid #CCC;
}

#settings {
	margin: 10px 10px;
}

#settings h1 {
	border-bottom: 1px solid #CCC;
}

#message {
	display: inline;
	color: #4F8A10;
	font-size: 1.2em;
	font-weight: bold;
}

#footer {
	color: #999;
	font-size: 18px;
	padding-top: 25px;
	text-align: center;
}

#footer a {
	color: #999;
}

input {
	width: 100%;
	padding: 5px;
	font-size: 1.5em;
}

table th {
	font-size: 24px;
	color: #666;
}

.button {
	padding: 5px;
	font-size: 1.3em;
}

.select {
	padding: 5px;
	font-size: 1.5em;
}